$white: #FFFFFF;

$dark-blue-gray: #5c7d99;
$light-blue: #F4FAFF;
$very-light-blue: #F4FAFF;

$black: #000000;
$light-black: #41474D;
$very-light-black: #797C80;

$coral: #FF7F50;
$red: #FF0000;
$green: #006400;
$lawngreen: #7CFC00;
